%
% Default Template for Publish.jl LaTeX/PDF output. Expected to be compilable
% with Tectonic/XeLaTeX without any `--shell-escape` usage.
%
\documentclass{${{documentclass}}}

%
% Required Package Imports.
%

\usepackage{fontspec}
\usepackage{microtype}
\usepackage{unicode-math}

\usepackage[dvipsnames]{xcolor} % For admonitions.
\definecolor{linkcolor}{HTML}{0969da}
\usepackage{hyperref} % Internal links to anywhere.
\hypersetup{
    colorlinks,
    linkcolor={linkcolor},
    citecolor={linkcolor},
    urlcolor={linkcolor}
}
\usepackage{tcolorbox} % For admonitions.
\usepackage{longtable} % Multi-page tables.
\usepackage{threeparttable} % for SummaryTables
\usepackage{multirow} % for SummaryTables
\usepackage{booktabs} % for SummaryTables
\usepackage{tocloft} % Additional table-of types.
\usepackage[export]{adjustbox} % For resizing images.
\usepackage{subcaption}
\usepackage{xurl} % Line-breaks in URLs.
\usepackage{textcomp}
\usepackage{listings} % Formatted code blocks.
\usepackage{pdflscape} % Landscape orientation for Table objects.
\usepackage[a4paper, total={6in, 8in}]{geometry}
\usepackage{import}
\usepackage{authblk}
\usepackage{titlesec}
\usepackage{fancyhdr}
\usepackage{tikz}
% \usepackage[paper=portrait,pagesize]{typearea} % for landscape pages https://tex.stackexchange.com/a/430619, but this currently cuts off tables and has a small type area

\newenvironment{allintypewriter}{\ttfamily}{\par}

%%% biblatex is loaded later on. %%%


%
% Listings settings.
%

\lstset{
    breaklines=true,
    postbreak=\raisebox{0ex}[0ex][0ex]{\ensuremath{\color{red}\hookrightarrow\space}},
    frame=single,
    xleftmargin=\parindent,
    upquote=true,
    basicstyle=\footnotesize\ttfamily,
}

%
% Font Features.
%

\defaultfontfeatures{Scale=MatchLowercase}
\defaultfontfeatures[\rmfamily]{Ligatures=TeX,Scale=1}

\setmainfont{DejaVuSerif}[
  Path=fonts/DejaVu/,
  BoldFont=*-Bold,
  ItalicFont=*-Italic,
]
\setsansfont{DejaVuSans}[
  Path=fonts/DejaVu/,
  BoldFont=*-Bold,
  ItalicFont=*-Oblique,
]
\setmonofont{JuliaMono}[
  Path=fonts/JuliaMono/,
  UprightFont=*-Regular,
  BoldFont=*-Bold,
]


%
% Front-matter Variables.
%

% Add additional commands for title page.
\makeatletter
\providecommand{\studyid}[1]{
  \apptocmd{\@title}{\par \vspace{0.5cm} {\large \textsc{Study ID:} #1 \par}}{}{}
}
\providecommand{\sponsor}[1]{
  \apptocmd{\@title}{\par \vspace{0.5cm} {\large \textsc{Sponsor:} #1 \par}}{}{}
}
\makeatother

${#title}
\title{{\huge ${{title}}}}
${/title}

${#studyid}
\studyid{${{studyid}}}
${/studyid}

${#sponsor}
\sponsor{${{sponsor}}}
${/sponsor}

${{authors_affiliations}}

${#date}
\date{${{date}}}
${/date}

\newcommand{\sectionbreak}{\clearpage}


%
% Header and footer settings.
%

\pagestyle{fancy}

% Clear defaults.
\fancyhead{}
\fancyfoot{}

\fancyhead[C]{${{header}}}
\fancyhead[RO,LE]{}
\fancyfoot[C]{${{footer}}}
\fancyfoot[RO,LE]{\thepage}

% Force title and toc to use this header/footer style.
\fancypagestyle{plain}{}


%
% Table and figure counters.
%
% At the end of the document we check whether the counters for these two
% objects have been incremented. If they have, then we update the globals so
% that on the next run we include the LoF and LoT. Long tables need to be
% checked as well since they do not get manually wrapped in table environments.
%

\newif\iffigures
\newif\iftables

\makeatletter
\let\OLDfigure\figure
\def\figure {\figures@in@document\OLDfigure }
\let\OLDtable\table
\def\table {\tables@in@document\OLDtable }
\let\OLDlongtable\longtable
\def\longtable {\longtables@in@document\OLDlongtable }

\def\figures@in@document {%
    \immediate\write\@mainaux {\global\string\figurestrue}%
    \global\let\figures@in@document\empty
}

\def\tables@in@document {%
    \immediate\write\@mainaux {\global\string\tablestrue}%
    \global\let\tables@in@document\empty
}

\def\longtables@in@document {%
    \immediate\write\@mainaux {\global\string\tablestrue}%
    \global\let\longtables@in@document\empty
}
\makeatother


\begin{document}

%
% Front-matter display.
%

${#title}
\maketitle

\begin{tikzpicture}[remember picture,overlay]
\node[anchor=south,yshift=50pt]%
    at (current page.south)
    {\includegraphics[width=${{logo_width_pt}}pt]{${{logo}}}};
\end{tikzpicture}

\thispagestyle{empty}
\clearpage
${/title}

% # Contents Tables
%
% Document outline, list of figures, and list of tables. If there are not
% tables or figures to list, then we don't display those lists.

\tableofcontents

\iffigures
   \addcontentsline{toc}{section}{List of Figures}
   \listoffigures
\fi

\iftables
   \addcontentsline{toc}{section}{List of Tables}
   \listoftables
\fi

%
% Beginning of user content.
%

${{body}}


\end{document}
